/* Work Sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
/* Universal selector.... */
/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
} */

/* Shared style */
.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header style */

/* Navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  width: 1440px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
