/* Work Sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
/* Universal selector.... */
/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
} */

/* Shared style */
.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  /* max-width: 180px; */
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 144, 14, 1);
}
main {
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: 85px; */
  /* border: 2px solid red; */
}
main > section {
  margin-top: 90px;
}

/* Navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  /* width: 1440px; */
  max-width: 1200px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

/* Banner container style */
/* .banner {
  width: 1440px;
  margin: 0 auto;
} */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  /* border: 2px solid red; */
}
.banner-title {
  font-weight: 700px;
  font-size: 4rem;
}
/* .banner img {
  width: 100%;
} */
.banner-img {
  width: 100%;
}

/* Main section(Feature section) */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.out-features {
  margin-left: 68px;
  max-width: 537px;
  /* border: 2px solid red; */
}
#quick-list {
  font-size: 2.8rem;
  font-weight: 700;
}
#of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
#feature {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}
.feature-description {
  font-size: 1rem;
}

/* Enjou and love section////////////////// */
.love-enjoy {
  gap: 100px;
  /* border: 2px solid orange; */
}

#enjoy-border {
  border-left: 5px solid #ff900e;
  padding: 10px;
}

.enjoy-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.enjoy-card .enjoy-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#enjoy-border {
  font-size: 2.4rem;
  font-weight: 700;
}
#experience-badge {
  padding: 40px 37px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -80px;
  margin-top: -108px;
}
#Experience-year {
  font-size: 4rem;
  font-weight: 700;
}
/* Enjou and love section end////////////////// */

/* Some fact section ..............................*/
.some-facts {
  /* display: flex; */
  /* align-items: center; */
}
.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 45px;
  /* border: 2px solid red; */
  /* gap: 120px; */
}
.fact-card {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fact-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}
.facts-description {
  max-width: 540px;
}

/* Sponsors related style//////////////// */
.sponsors-info {
  max-width: 542px;
  margin: 50px auto;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.sopnsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-bottom: 110px;
  /* border: 2px solid red; */
}

/* .sopnsor-company img {
  filter: grayscale(100%);
} */

/* Footer section start //////////////////////////*/
footer {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 100px;
  background-color: #fff4e7;
}
footer p {
  font-size: 1.2rem;
  font-weight: 500;
}
/* Footer section end //////////////////////////*/

/* Responsive media query for mobile............... */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .love-enjoy,
  .teams {
    flex-direction: column;
  }
  .team-img-container,
  .fact-container,
  .sopnsor-company {
    grid-template-columns: repeat(1, 1fr);
  }
  .love-enjoy img {
    width: 100%;
  }
  .out-features {
    margin-left: 33px;
  }
  .fact-container {
    justify-items: center;
    gap: 20px;
  }
  .sopnsor-company {
    justify-items: center;
    gap: 50px;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Media query for Tablet,,,,, */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .out-features {
    margin-left: 5px;
  }
  .sopnsor-company,
  .fact-container {
    justify-items: center;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
